# Flutter/Dart-specific
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Build outputs
build/
!build/.gitkeep

# iOS-specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android-specific
**/android/*.iml
.android/
gradle/
**/gradle-wrapper.jar
**/gradlew
**/gradlew.bat
local.properties

# IDE-specific
.idea/
*.iml
.vscode/

# Environment variables
.env

# Miscellaneous
*.log
*.tmp
*.swp
*.lock

# App artifacts
*.apk
*.ipa

# System files
.DS_Store
Thumbs.db

# node modules
backend/node_modules/
